include navbar.pug
br
h1 Patients
button.btn.btn-primary.float-right(data-toggle="modal" data-target="#exampleModal") New Patient

// Modal
#exampleModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header
        h5#exampleModalLabel.modal-title Create Patient
        button.close(type='button' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true') &times;
      .modal-body
        .form-group
        form(action="/doctor/patients/create" method="post")
          label(for='fname') First name:
          br
          input.form-control#fname(type='text' name='firstName')
          br
          label(for='lname') Last name:
          br
          input.form-control#lname(type='text' name='lastName')
          br
          label(for='gender') Gender:
          br
          select.form-control#gender(name='gender')
            each val, key in gender
              option(value=val)= val
          br
          label(for='height') Height:
          br
          input.form-control#height(type='text' name='height')
          br
          label(for='weight') Weight:
          br
          input.form-control#weight(type='text' name='weight')
          br
          button.btn.btn-primary(type="submit") Submit


table.table.table-striped.table-bordered(id="dt")
  thead
    tr
      th First name
      th Last name
      th Gender
      th Weight in KG
      th Height in CM
      th Actions
  tbody
    each obj in patients
      tr
        td= obj.firstName
        td= obj.lastName
        td 
          span.badge.badge-info= obj.gender
        td= obj.weight
        td= obj.height
        td
          a.btn.btn-primary.fa.fa.fa-pencil(href="/doctor/patient/edit/" + obj._id)
          | 
          a.btn.btn-danger.fa.fa-trash(href="/doctor/patient/delete/" + obj._id)
          | 
          a.btn.btn-success.fa.fa-plus(href="/doctor/patient/addTest/" + obj._id)
script(src="/assets/js/jquery-3.5.1.min.js")
script(src="/assets/js/jquery.dataTables.min.js")
script(src="/assets/js/dataTables.bootstrap4.min.js")
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js' integrity='sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI' crossorigin='anonymous')
script.
  $(document).ready(function() {
    $('#dt').DataTable();
  });