doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(name='description' content='')
  meta(name='author' content='Emy')
  title Samplr - Landing
  // Bootstrap core CSS
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css' integrity='sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk' crossorigin='anonymous')
  link(rel='stylesheet' href='https://unpkg.com/leaflet@1.6.0/dist/leaflet.css' integrity='sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==' crossorigin='')
  link(href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous")
  link(href="/asserts/css/dashboard.css", rel="stylesheet")
  style.
    #mapid {
        width: 500px;
        height:500px;
    }
    .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    }
    @media (min-width: 768px) {
    .bd-placeholder-img-lg {
    font-size: 3.5rem;
    }
    }
    .carousel-inner > .carousel-item > img {
    height: 100vh;
    }
    .item {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4));
    }
    .item .slide {
    position: relative;
    z-index: -1;
    }
    .rectimg {
        max-width: 500px;
        max-height:500px;
    }
  // Custom styles for this template
  link(href='/assets/css/carousel.css' rel='stylesheet')
header
  nav.navbar.navbar-expand-md.navbar-dark.fixed-top.bg-dark
    a.navbar-brand(href='/') Samplr
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarCollapse' aria-controls='navbarCollapse' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarCollapse.collapse.navbar-collapse
      ul.navbar-nav.mr-auto
        li.nav-item
          a.nav-link(href='/lab') Lab-Demo
        li.nav-item.active
          a.nav-link(href='/doctor') Doc-Demo
nav#sidebarMenu.col-md-3.col-lg-2.d-md-block.bg-light.sidebar.collapse
  .sidebar-sticky.pt-3
    ul.nav.flex-column
      li.nav-item
        a.nav-link.active(href='/doctor/patients')
          |               Patients 
      li.nav-item
        a.nav-link(href='/doctor/tests')
          |               Blood tests
main.col-md-9.ml-sm-auto.col-lg-10.px-md-4(role='main')
    h1 Patients
    a.btn.btn-primary.float-right(href="/doctor/patients/create") New Patient
    table.table.table-striped.table-bordered(id="dt")
      thead
        tr
          th First name
          th Last name
          th Gender
          th Weight in KG
          th Height in CM
          th Actions
      tbody
        each obj in patients
          tr
            td= obj.firstName
            td= obj.lastName
            td 
              span.badge.badge-info= obj.gender
            td= obj.weight
            td= obj.height
            td
              a.btn.btn-primary.fa.fa.fa-pencil(href="/doctor/patient/edit/" + obj._id)
              | 
              a.btn.btn-danger.fa.fa-trash(href="/doctor/patient/delete/" + obj._id)
    script(src="/assets/js/jquery-3.5.1.min.js")
    script(src="/assets/js/jquery.dataTables.min.js")
    script(src="/assets/js/dataTables.bootstrap4.min.js")
    script.
      $(document).ready(function() {
        $('#dt').DataTable();
      });