include navbar.pug
br
form.form-group(method="post")
  input.form-control(name="id" value=patient._id hidden)
  label(for='fname') First name:
  br
  input.form-control#fname(type='text' name='firstName' value=patient.firstName)
  br
  label(for='lname') Last name:
  br
  input.form-control#lname(type='text' name='lastName' value=patient.lastName)
  br
  label(for='gender') Gender:
  br
  select.form-control#gender(name='gender')
    each val, key in gender
      if val == patient.gender
        option(value=val selected)= val
      else
        option(value=val)= val
  br
  label(for='height') Height:
  br
  input.form-control#height(type='text' name='height' value=patient.height)
  br
  label(for='weight') Weight:
  br
  input.form-control#weight(type='text' name='weight' value=patient.weight)
  br
  button.btn.btn-primary(type="submit") Submit