include navbar.pug
br
.form-group
  label First name:
  br
  input.form-control(readonly value=test.patient.firstName)
  br
  label Last Name:
  br
  input.form-control(readonly value=test.patient.lastName)
  br
  label Gender:
  br
  input.form-control(readonly value=test.patient.gender)
  br
  label Red Blood Cells (men 4,8-5,9 Mio/µl | women 4,3-5,2 Mio/µl):
  br
  input.form-control(readonly value=test.redBloodCells)
  br
  label White Blood Cells ():
  br
  input.form-control(readonly value=test.whiteBloodCells)
  br
  label Neutrophiles (50-65%):
  br
  input.form-control(readonly value=test.neutrophilis)
  br
  label Granulocytes ():
  br
  input.form-control(readonly value=test.granulocytes)
  br
  label Lymphocytes (25-45%):
  br
  input.form-control(readonly value=test.lymphocytes)
  br
  label Monocytes (3-7%):
  br
  input.form-control(readonly value=test.monocytes)
  br
  label Eosinophiles (1-4%):
  br
  input.form-control(readonly value=test.eosinophils)
  br
  label Basophiles (0-1%):
  br
  input.form-control(readonly value=test.basophils)
  br
  label Platelets (150.000 - 400.000/µl):
  br
  input.form-control(readonly value=test.platelets)